Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github urls
  entry: github.*\.git
  language: pygrep

Add pre-commit-hooks-cpp
  all-repos.yaml
Due: no-github-dot-git

Deployed 830 to Github Pages
  all-hooks.json
  hooks.html
Due: none

adds https://github.com/Bahjat/pre-commit-golang
  all-repos.yaml
Due: no-github-dot-git

Deployed 832 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 833 to Github Pages
  all-hooks.json
Due: none

Add markdownlint-cli
  all-repos.yaml
Due: no-github-dot-git

Deployed 839 to Github Pages
  all-hooks.json
  hooks.html
Due: none

add my new hook
  all-repos.yaml
Due: no-github-dot-git

add blacklist hook
  all-repos.yaml
Due: no-github-dot-git

Deployed 844 to Github Pages
  all-hooks.json
Due: none

Add note about overriding `types`
  index.mako
Due: none

Deployed 848 to Github Pages
  index.html
Due: none

Clarify python requirements (pyproject.toml works)
  index.mako
Due: none

Deployed 851 to Github Pages
  index.html
Due: none

This can just be pylint
  index.mako
Due: none

Deployed 852 to Github Pages
  index.html
Due: none

Deployed 853 to Github Pages
  all-hooks.json
Due: none

Deployed 856 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 857 to Github Pages
  all-hooks.json
Due: none

Deployed 858 to Github Pages
  all-hooks.json
Due: none

Autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: none

Reword pass_filenames docs
  index.mako
Due: none

Deployed 863 to Github Pages
  index.html
Due: none

render the pre-commit version directly in output
  index.mako
  scss/main.scss
  template_lib.py
Due: scss-lint

Deployed 871 to Github Pages
  build/main.css
  index.html
Due: none

Documentation updates for 1.21.0
  index.mako
  requirements-dev.txt
Due: none

Deployed 874 to Github Pages
  index.html
Due: none

Fix a 'new in' comment
  index.mako
Due: none

Deployed 875 to Github Pages
  index.html
Due: none

Adds TekWizely/pre-commit-golang to all-repos.yaml
  all-repos.yaml
Due: no-github-dot-git

Deployed 879 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 880 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Link to upstream pylint repo instead of the pre-commit mirror
  all-repos.yaml
Due: no-github-dot-git

Deployed 884 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 885 to Github Pages
  all-hooks.json
Due: none

Deployed 886 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Document the default docker args
  index.mako
Due: none

Deployed 889 to Github Pages
  all-hooks.json
  index.html
Due: none

Provide a simpler "run against the changed files" command
  index.mako
Due: none

Deployed 893 to Github Pages
  index.html
Due: none

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
