Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github/gitlab urls
  entry: (github|gitlab).*\.git
  language: pygrep

Avoid displaying empty descriptions for hooks
  hooks.mako
Due: none

Add sign-off hook
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  hooks.html
Due: none

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

Add databooks hook
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
Due: none

Add byexample hook
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  node_modules/.package-lock.json
  node_modules/chokidar/README.md
  node_modules/chokidar/lib/nodefs-handler.js
  node_modules/chokidar/package.json
  node_modules/chokidar/types/index.d.ts
Due: none

Add documentation about Lua language support.
  all-repos.yaml
  sections/new-hooks.md
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
  index.html
  node_modules/.package-lock.json
  node_modules/source-map-js/CHANGELOG.md
  node_modules/source-map-js/README.md
  node_modules/source-map-js/package.json
  node_modules/source-map-js/source-map.d.ts
Due: none

docs update for 2.17.0
  sections/new-hooks.md
Due: none

Deployed to github pages
  index.html
Due: none

Add the LuaFormatter hook definition from the canonical repo.
  all-repos.yaml
Due: no-github-dot-git

Oops... forgot the dash character.
  all-repos.yaml
Due: no-github-dot-git

Disable smooth scrolling when searching on the page
  scss/_variables.scss
  scss/main_bs5.scss
Due: scss-lint

Just disable smooth scrolling entirely
  scss/main_bs5.scss
Due: scss-lint

Deployed to github pages
  all-hooks.json
  build/main_bs5.css
  build/main_bs5.css.map
  hooks.html
Due: none

Add Standard JS
  all-repos.yaml
Due: no-github-dot-git

Add pre-commit-assert-changelog to all-repos
  all-repos.yaml
Due: no-github-dot-git

replace gitlab flake8 with github flake8
  sections/advanced.md
Due: none

Black is no longer a beta product
  sections/install.md
Due: none

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
