Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github urls
  entry: github.*\.git
  language: pygrep

Deployed 894 to Github Pages
  all-hooks.json
Due: none

Deployed 896 to Github Pages
  all-hooks.json
Due: none

Add markdownlint/markdownlint
  all-repos.yaml
Due: no-github-dot-git

Deployed 904 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Update documentation for 2.0.0
  index.mako
Due: none

Deployed 907 to Github Pages
  index.html
Due: none

Deployed 908 to Github Pages
  index.html
Due: none

Switch to Azure Pipelines + Github Actions
  .github/workflows/deploy.yml
  .travis.yml
  Makefile
  README.md
  azure-pipelines.yml
Due: none

Deployed to github pages
  .travis.yml
  README.md
  node_modules/bootstrap-sass/package.json
Due: none

Add daily cron
  .github/workflows/deploy.yml
  Makefile
Due: none

Fix branch name in badge
  README.md
Due: none

Deployed to github pages
  README.md
Due: none

Remove unnecessary aspy.yaml
  make_all_hooks.py
  requirements-dev.txt
Due: none

Updated link from daverona-env/pre-commit-cpp to toscana/pre-commit-cpp
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

Deployed to github pages
  all-hooks.json
Due: none

Fix typo
  index.mako
Due: none

Deployed to github pages
  index.html
Due: none

Add custom gradle hooks repository
  all-repos.yaml
Due: no-github-dot-git

Updated link from toscana/pre-commit-cpp to daverona/pre-commit-cpp
  all-repos.yaml
Due: no-github-dot-git

Add pre-commit badge
  base.mako
Due: none

Deployed to github pages
  hooks.html
  index.html
Due: none

Fix icon layout in header
  base.mako
Due: none

Add pre-commit badge
  index.mako
Due: none

Add Yelp/detect-secrets
  all-repos.yaml
Due: no-github-dot-git

slight updates to coloring and markdown
  index.mako
  scss/main.scss
Due: scss-lint

Deployed to github pages
  build/main.css
  index.html
Due: none

kustomize pre-commit hook
  all-repos.yaml
Due: no-github-dot-git

Add Perl hook docs
  index.mako
Due: none

Deployed to github pages
  all-hooks.json
  hooks.html
  index.html
Due: none

Add perltidy/perltidy
  all-repos.yaml
Due: no-github-dot-git

docs: add Conform policy enforcement hook
  all-repos.yaml
Due: no-github-dot-git

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
