Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github urls
  entry: github.*\.git
  language: pygrep

Revert "Fix broken build"
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

Deployed to github pages
  all-hooks.json
Due: none

Include repo for Behave pre-commit hook :cucumber:
  all-repos.yaml
Due: no-github-dot-git

[shellcheck-py] Update URL
  all-repos.yaml
Due: no-github-dot-git

Note pygrep UTF-8 limitation
  index.mako
Due: none

Add jlebar/pre-commit-hooks to list of pre-commit hook repos.
  all-repos.yaml
Due: no-github-dot-git

Add pip-tools to the list of pre-commit hook repos
  all-repos.yaml
Due: no-github-dot-git

feat: add copy-icon top-left all code-blocks
  .pre-commit-config.yaml
  assets/copy-icon.svg
  assets/copyable.js
  base.mako
  index.mako
  package.json
  scss/main.scss
  template_lib.py
Due: scss-lint

Deployed to github pages
  build/main.css
  hooks.html
  index.html
Due: none

deploy the assets too
  Makefile
Due: none

Deployed to github pages
  assets/copy-icon.svg
  assets/copyable.js
Due: none

Add pappasam/toml-sort to the list of pre-commit hook repos
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
  index.html
Due: none

Add ocamlformat hook repo
  all-repos.yaml
Due: no-github-dot-git

Add mathieu-lemay/pre-commit-rust
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  build/main.css
  hooks.html
Due: none

update docs for changes in 2.4.0
  index.mako
Due: none

Deployed to github pages
  index.html
Due: none

Run pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Revert "Add mathieu-lemay/pre-commit-rust"
  all-repos.yaml
Due: no-github-dot-git

Spelling fix
  index.mako
Due: none

Add rstcheck
  all-repos.yaml
Due: no-github-dot-git

Add GitLab caching example
  index.mako
Due: none

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
