Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.0
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.5.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v2.3.0
    hooks:
    -   id: reorder-python-imports
        args: [--py36-plus]
        exclude: ^install-local.py$
    -   id: reorder-python-imports
        files: install-local.py
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.4.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^install-local.py$
    -   id: pyupgrade
        files: install-local.py
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.0.1
    hooks:
    -   id: add-trailing-comma
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.770
    hooks:
    -   id: mypy
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.0.0
    hooks:
    -   id: eslint
        args: [--fix]
-   repo: local
    hooks:
    -   id: scss-lint
        name: scss-lint
        entry: scss-lint
        types: [scss]
        language: ruby
        additional_dependencies: ['scss_lint:0.57.0']
    -   id: no-github-dot-git
        name: No need for .git for github/gitlab urls
        entry: '(github|gitlab).*\.git'
        files: all-repos.yaml
        language: pygrep

Apply suggestions from code review
  index.mako
Due: none

Deployed to github pages
  index.html
Due: none

Add elixir-pre-commit-hooks to all_repos.yaml
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

Deployed to github pages
  all-hooks.json
Due: none

Add editorconfig-checker hooks repo
  all-repos.yaml
Due: no-github-dot-git

Add gitown
  all-repos.yaml
Due: no-github-dot-git

mention license on main page
  index.mako
Due: none

Use pre-commit's mirrors-prettier
  all-repos.yaml
Due: no-github-dot-git

doc: all repos
  all-repos.yaml
Due: no-github-dot-git

Add pipx as installation option
  index.mako
Due: none

Add link to GitHub Sponsors + Open Collective
  .github/FUNDING.yml
Due: none

Add some Dart/Flutter related hooks to `all-repos.yaml`
  all-repos.yaml
Due: no-github-dot-git

upgrade mistune to 2.x
  index.mako
  requirements-dev.txt
  template_lib.py
Due: none

hide paragraph marker unless hovered
  scss/main.scss
Due: scss-lint

Deployed to github pages
  build/main.css
Due: none

documentation updates for 2.9.0
  index.mako
Due: none

add the "new in" text for `types_or`
  index.mako
Due: none

correct default for types_or (2.9.2)
  index.mako
Due: none

added init-templatedir example windows cmd/ps
  index.mako
Due: none

Fix GitHub actions example
  index.mako
Due: none
