Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github/gitlab urls
  entry: (github|gitlab).*\.git
  language: pygrep

Add vulture
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

add no-string-hints
  all-repos.yaml
Due: no-github-dot-git

Add JuPyText to list of hooks
  all-repos.yaml
Due: no-github-dot-git

Add pre-commit-maven to the list of hook repositories
  all-repos.yaml
Due: no-github-dot-git

added tflint pre-commit from source.
  all-repos.yaml
Due: no-github-dot-git

Move ansible-lint to ansible-community
  all-repos.yaml
Due: no-github-dot-git

Added TFSec pre-commit built from source
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
  index.html
Due: none

Add hook for protolint
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
Due: none

Add official hadolint repository hook
  all-repos.yaml
Due: no-github-dot-git

re-order hadolint
  all-repos.yaml
Due: no-github-dot-git

add jsonnetfmt hook
  all-repos.yaml
Due: no-github-dot-git

document defensive usage of init.templateDir
  index.mako
Due: none

Deployed to github pages
  index.html
Due: none

fix paragraph spacing in tables
  scss/_variables.scss
  scss/main_bs4.scss
Due: scss-lint

Deployed to github pages
  build/main_bs4.css
Due: none

all-repos changes - new repository has been added
  all-repos.yaml
Due: no-github-dot-git

Add cpplint to the List of Supported Hooks
  all-repos.yaml
Due: no-github-dot-git

abs-imports
  all-repos.yaml
Due: no-github-dot-git

document https://pre-commit.ci
  index.mako
Due: none

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
