Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github/gitlab urls
  entry: (github|gitlab).*\.git
  language: pygrep

Deployed to github pages
  all-hooks.json
Due: none

Deployed to github pages
  index.html
Due: none

Add pre-commit-lua-formatter hook
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

Add md-toc hook.
  all-repos.yaml
Due: no-github-dot-git

Update pre-commit hooks version in docs
  index.mako
Due: none

Add check-manifest
  all-repos.yaml
Due: no-github-dot-git

added id and type filter for hooks
  assets/filter_repos.js
  hooks.mako
  make_templates.py
Due: none

Deployed to github pages
  assets/filter_repos.js
  hooks.html
Due: none

updated to bootstrap 4
  base.mako
  hooks.mako
  index.mako
  logo.png
  package.json
  scss/_variables.scss
  scss/main.scss
Due: scss-lint

rename css file for caching purposes
  Makefile
  base.mako
  scss/main_bs4.scss
Due: scss-lint

Deployed to github pages
  build/main_bs4.css
  hooks.html
  index.html
Due: none

Add check-untracked-migrations hook
  all-repos.yaml
Due: no-github-dot-git

Add blocklint to list of hook repositories
  all-repos.yaml
Due: no-github-dot-git

Add check-jsonschema to all-repos.yaml
  all-repos.yaml
Due: no-github-dot-git

Add sirosen/fix-smartquotes to all-repos
  all-repos.yaml
Due: no-github-dot-git

Add sondrelg/pep585-upgrade to all hooks
  all-repos.yaml
Due: no-github-dot-git

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
