Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

scss-lint:
  name: scss-lint
  entry: scss-lint
  language: ruby
  additional_dependencies:
  - scss_lint:0.57.0

no-github-dot-git:
  name: No need for .git for github/gitlab urls
  entry: (github|gitlab).*\.git
  language: pygrep

Update all-repos.yaml
  all-repos.yaml
Due: no-github-dot-git

flake8 gitlab => github
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
  index.html
Due: none

Add travis-lint
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
Due: none

Add pre-commit hooks for android-kotlin
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  index.html
Due: none

Update wording of 'exclude' hook config setting
  sections/new-hooks.md
Due: none

fix: Reflects the moved repository
  all-repos.yaml
Due: no-github-dot-git

Deployed to github pages
  all-hooks.json
  hooks.html
Due: none

add velin
  all-repos.yaml
Due: no-github-dot-git

Add jsonnetfmt hook
  all-repos.yaml
Due: no-github-dot-git

Update repo name
  all-repos.yaml
Due: no-github-dot-git

Add Gitleaks
  all-repos.yaml
Due: no-github-dot-git

Added pre-commit-fish
  all-repos.yaml
Due: no-github-dot-git

Add optimize-png-hooks to list
  all-repos.yaml
Due: no-github-dot-git

adding clarification to the log_file parameter
  sections/plugins.md
Due: none

change libsass -> node-sass to simplify bs5 upgrade
  Makefile
  package.json
  requirements-dev.txt
Due: none

upgrade to bootstrap 5
  Makefile
  base.mako
  hooks.mako
  package.json
  scss/_variables.scss
  scss/main_bs5.scss
  template_lib.py
Due: scss-lint

add pre-commit-license-checks
  all-repos.yaml
Due: no-github-dot-git

Path conditions:
  scss-lint: any of: \.scss$
  no-github-dot-git: any of: all-repos.yaml
