Repository pre-commit/pre-commit.com: changes, and which pre-commit hooks are due for each by the changed paths.
All: scss-lint, no-github-dot-git

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.1
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.4.3
    hooks:
    -   id: autopep8
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.5
    hooks:
    -   id: reorder-python-imports
-   repo: https://github.com/asottile/pyupgrade
    rev: v1.11.1
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]
        exclude: ^install-local.py$
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.660
    hooks:
    -   id: mypy
        exclude: ^install-local.py$
-   repo: local
    hooks:
    -   id: scss-lint
        name: scss-lint
        entry: scss-lint
        types: [scss]
        language: ruby
        additional_dependencies: ['scss_lint:0.57.0']
    -   id: no-github-dot-git
        name: No need for .git for github urls
        entry: 'github.*\.git'
        files: all-repos.yaml
        language: pygrep

Deployed 690 to Github Pages
  all-hooks.json
  hooks.html
Due: none

add R hooks
  all-repos.yaml
Due: no-github-dot-git

Deployed 692 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Update black github url... again
  all-repos.yaml
Due: no-github-dot-git

Deployed 693 to Github Pages
  all-hooks.json
  hooks.html
Due: none

add FelixSeptem hook
  all-repos.yaml
Due: no-github-dot-git

Deployed 695 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Added pre-commit-cpp to all-repos.yaml
  all-repos.yaml
Due: no-github-dot-git

Deployed 697 to Github Pages
  all-hooks.json
  hooks.html
Due: none

housekeeping
  all-repos.yaml
Due: no-github-dot-git

Add clang-format
  all-repos.yaml
Due: no-github-dot-git

Deployed 699 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add documentation for new things in 1.18
  index.mako
Due: none

Deployed 707 to Github Pages
  index.html
Due: none

Deployed 708 to Github Pages
  all-hooks.json
Due: none

Deployed 710 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Add relint
  all-repos.yaml
Due: no-github-dot-git

Deployed 713 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Update all-repos.yaml
  all-repos.yaml
Due: no-github-dot-git

Deployed 717 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Expand cli documentation
  index.mako
Due: none

Replace link back to own docs
  index.mako
Due: none

Use lower case in supported-language anchor
  index.mako
Due: none

Deployed 720 to Github Pages
  index.html
Due: none

Add svg logo
  Makefile
  logo.svg
Due: none

Deployed 721 to Github Pages
  logo.svg
Due: none

Add a quick start to the top
  index.mako
Due: none

Deployed 726 to Github Pages
  index.html
Due: none

Update conda install command
  index.mako
Due: none

Deployed 729 to Github Pages
  all-hooks.json
  index.html
Due: none

Deployed 730 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 732 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 733 to Github Pages
  all-hooks.json
  hooks.html
Due: none

Deployed 735 to Github Pages
  all-hooks.json
Due: none

Add beancount-check to validate beancount files.
  all-repos.yaml
Due: no-github-dot-git

Deployed 739 to Github Pages
  all-hooks.json
  hooks.html
  index.html
Due: none

Deployed 741 to Github Pages
  all-hooks.json
Due: none

Update for latest pygments-pre-commit
  scss/main.scss
Due: scss-lint

Deployed 743 to Github Pages
  build/main.css
Due: none

Deployed 751 to Github Pages
  all-hooks.json
Due: none
